/**
    font-size: 0*/

.preload *
    transition: none !important

/*button::-moz-focus-inner
    padding: 0;
    border: 0*/

html
    overflow-y: scroll

body
    margin: 0

li
    @extend font_default
